deploy/*
work/*
config
postrun.sh
SKIP_IMAGES
SKIP
.pc
*-pc
apt-cacher-ng/
stage2/05-btct/bootstrap/blocks/*
stage2/05-btct/bootstrap/chainstate/*
stage2/05-btct/bootstrap/index/*
stage2/05-btct/bootstrap/sporks/*
